PORT=3001

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=your_mysql_password
DB_NAME=nest_pelis_pokemon

// El .env no debe subirse a GitHub, 
// ya que contiene datos sensibles como la contraseña de la base de datos.
// Por eso se incluye en el .gitignore.
// En su lugar, se sube un .env.example 
// con el mismo formato pero sin los datos reales. 
// Para usarlo, se debera copiar el .env.example a .env 
// y luego editarlo con los datos reales.